<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Certification assignment - TODO LIST | Login</title>

        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        <link href="{{ asset('build/login.css') }}" rel="stylesheet">
    </head>

    <body class="text-center">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" value="{{ last_username }}" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <br><a href="{{ path('app_security_registration') }}">Don't have an account?</a>
        </form>
    </body>
</html>
