<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Certification assignment - TODO LIST | Login</title>

        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        <link href="{{ asset('build/registration.css') }}" rel="stylesheet">
    </head>

    <body class="text-center">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input name="user[email]" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="user[plainPassword][first]" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="inputPasswordAgain" class="sr-only">Password again</label>
                <input name="user[plainPassword][second]" type="password" id="inputPasswordAgain" class="form-control" placeholder="Password again" required>
            </div>

            {{ form_row(form._token) }}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

            <br><a href="{{ path('app_security_login') }}">Already have an account?</a>
        </form>
    </body>
</html>
