{% extends 'base.html.twig' %}

{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Users</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="card-deck">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {% for user in users %}
                                <li class="list-group-item">
                                    {{ user.email }}
                                    {% if user.email != app.user.email %}
                                        <span class="float-right">
                                        {% if user.hasRole('ROLE_ADMIN') %}
                                            <a href="{{ path('app_admin_user_demote', {'id': user.id}) }}" style="margin-right: 10px;">
                                                <span class="badge badge-warning">Remove admin</span>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('app_admin_user_promote', {'id': user.id}) }}" style="margin-right: 10px;">
                                                <span class="badge badge-primary">Make admin</span>
                                            </a>
                                        {% endif %}
                                            <a href="{{ path('app_admin_user_remove', {'id': user.id}) }}" onClick="return confirm('Do you really want to remove user {{ user.email }}?')">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </span>
                                    {% else %}
                                        <span class="float-right">
                                            <span class="badge badge-secondary">You</span>
                                        </span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">&copy; 2018, Theme built with
                        <a href="http://getbootstrap.com" target="_blank">Bootstrap</a></small>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
