{% extends 'base.html.twig' %}

{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">My todos</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="card-deck">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            {% for todo in todos %}
                                <li class="list-group-item">
                                    {{ todo.title }}
                                    <span class="float-right">
                                        {% if todo.done %}
                                            <a href="{{ path('app_todo_uncomplete', {'id': todo.id}) }}">
                                            <i class="far fa-check-square" style="padding-right: 5px;"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('app_todo_complete', {'id': todo.id}) }}">
                                                <i class="far fa-square" style="padding-right: 5px;"></i>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('app_todo_remove', {'id': todo.id}) }}" onClick="return confirm('Do you really want to remove todo {{ todo.title }}?')">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}

                            {% if todos|length == 0 %}
                                <li class="list-group-item text-muted text-center">
                                    No todos in your list.
                                </li>
                            {% endif %}

                            <li class="list-group-item">
                                {{ form_start(form) }}

                                <div class="row">
                                    <div class="col-9">
                                        {{ form_row(form.title, { 'attr': {'class': 'form-control form-control-sm', 'autofocus': true}}) }}
                                    </div>

                                    <div class="col-3">
                                        <button type="submit" class="btn btn-primary btn-sm btn-block">Add</button>
                                    </div>
                                </div>

                                {{ form_end(form) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">&copy; 2018, Theme built with
                        <a href="http://getbootstrap.com" target="_blank">Bootstrap</a></small>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
