<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Certification assignment - TODO LIST | Login</title>

        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>

    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">Todos</h5>

            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{{ path('app_todo_index') }}">Todos</a>
            </nav>

            {% if is_granted('ROLE_ADMIN') %}
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="{{ path('app_admin_index') }}">Administration</a>
                </nav>
            {% endif %}

            <a class="btn btn-outline-primary" href="{{ path('app_security_logout') }}">Logout</a>
        </div>

        {% block body %}
        {% endblock %}
    </body>
</html>
