{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Oops!</h1>
                <h2>An error occurred</h2>

                <p><a href="/">&leftarrow; Back to homepage</a></p>
            </div>
        </div>
    </div>
{% endblock %}
